.bg-gradient-primary {
    // background-color: #9580FF;
    background-color: #282A36;
    // background-image: linear-gradient(180deg, #9580FF 10%, #80FFEA 100%);
    background-image: linear-gradient(180deg, #282A36 10%, #14141b 100%);
    background-size: cover;
}

// icon top
// .fa-cog {
//     width: 1.25em;
//     color: #69FF94;
// }

.bg-white {
    // background-color: #14141b !important;
    background-color: #14141b !important;
}

.topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #4e73df;
    border-right: 1px solid #4e73df;
    border-bottom: 1px solid #4e73df;
    line-height: 1.3rem;
}

#wrapper #content-wrapper {
    // background-color: #252525;
    background-color: #14141b;
    width: 100%;
    overflow-x: hidden;
}

.shadow {
    // box-shadow: 0 0.15rem 1.75rem 0 rgba(132, 135, 160, 0.15) !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(153, 147, 249, 0.15) !important;
}

.breadcrumb {
    background-color: #282a36;
}

.card-header {
    background-color: #282a36;
    border-bottom: 1px solid #6272A4;
}

.card {
    background-color: #373946;
    border: 1px solid #282a36;
}

.border-left-primary {
    border-left: 0.25rem solid #9993f9 !important;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgb(98, 114, 164);
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #282a36;
    border-radius: 0.35rem;
}

// tables
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #F8F8F2;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #282a36;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #282a36;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #282a36;
}

.table-bordered {
    border: 1px solid #282a36;
}

.text-primary-theme {
    color: #4e73df !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #f2f3f8;
    background-color: #585b6f;
    border: 1px solid #15151d;
}

.page-item.previous .page-link {
    color: #858796;
    // pointer-events: none;
    // cursor: auto;
    background-color: #282a36;
    border-color: #15151d;
}

.page-item.disabled .page-link {
    color: #858796;
    // pointer-events: none;
    // cursor: auto;
    background-color: #282a36;
    border-color: #15151d;
}

.page-link:hover {
    background-color: #4e73df;
    border: 1px solid #15151d;
    color: #F8F8F2;
}

.page-item.next .page-link {
    color: #858796;
    // pointer-events: none;
    // cursor: auto;
    background-color: #282a36;
    border-color: #15151d;
}

.page-item.next:hover .page-link {
    background-color: #4e73df;
    border: 1px solid #15151d;
    color: #F8F8F2;
}

.page-item.previous:hover .page-link {
    background-color: #4e73df;
    border: 1px solid #15151d;
    color: #F8F8F2;
}

.page-item.disabled:hover .page-link {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    background-color: #282a36;
    border-color: #15151d;
}

// .table {
    // border-radius: 0.90rem !important;
// }

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
  }
  table tr th,
  table tr td {
    border-right: 1px;
    border-bottom: 1px;
    padding: 5px;
  }
  table tr th:first-child,
  table tr td:first-child {
    border-left: 1px;
  }
  table tr th {
    border-top: 1px;
    text-align: left;
  }
  
  /* top-left border-radius */
  table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }


// text
.text-gray-600 {
    color: #F8F8F2 !important;
}

.text-gray-300 {
    // color: #14141b !important;
    color: #282a36 !important;
}

.text-gray-800 {
    color: #F8F8F2 !important;
}

a {
    color: #69FF94;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #9993f9;
}

.text-primary {
    color: #9993f9 !important;
}

.nav-link:hover, .nav-link:focus {
    color: #9993f9 !important;
    // color: #4e73df !important;
  }

body {
    color: #F8F8F2;
    background-color: #fff;
}

// forms
.form-control {
    color: #F8F8F2;
    background-color: #585b6f;
    border: 1px solid #282a36;
}

.form-control:focus {
    border-color: #6272A4;
    background-color: #64677b;
    color: #F8F8F2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(98, 114, 164, 0.6);
}

.form-control:disabled, .form-control[readonly] {
    background-color: #313442;
    opacity: 1;
}

.form-control:disabled {
    background-color: #313442;
    opacity: 1;
}

.time_field {
    background-color: #313442;
    opacity: 1;
    pointer-events: none;
}

// input[type="file"] {
//     position: relative;
//     z-index:2;
//     top:0;
//     left:0;
//     filter: alpha(opacity=0);
//     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//     opacity:0;
//     background-color:transparent;
//     color:transparent;
// }

// dropdown menu (top)
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.85rem;
    color: #F8F8F2;
    text-align: left;
    list-style: none;
    background-color: #282a36;
    background-image: linear-gradient(180deg, #282A36 10%, #14141b 100%);
    background-size: cover;
    background-clip: padding-box;
    border: 1px solid #14141b;
    border-radius: 0.35rem;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}
  
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #14141b;
}

// .dropdown-item {
//     color: #F8F8F2;
//     // background-color: #282a36;
//     // background-color: #64677b;
//     background-color: transparent;
//     border: 1px #282a36;
// }

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #F8F8F2;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 1px #282a36;
  }

.dropdown-item:hover, .dropdown-item:focus {
    color: #9993f9;
    text-decoration: none;
    // background-color: #282a36;
    background-color: transparent;
    border: 1px #282a36;
}

// scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #282a36;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9993f9;
}

// modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #14151b;
    background-image: linear-gradient(180deg, #282A36 10%, #14141b 100%);
    background-size: cover;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #6272A4;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #6272A4;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.shadow {
    box-shadow: 0 0.5rem 1.75rem 0 rgba(153, 147, 249, 0.12) !important;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #9993f9;
}

.alert-info {
    color: #f8f8f2;
    background-color: #1c1d23;
    // background-color: #585b6f;
    border-color: #0f0f15;
}

.subtitle-blue {
    color: #8BE9FD;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #9993f9;
    opacity: .5;
}

.close:hover {
    color: #9993f9;
    text-shadow: 0 1px 0 #9993f9;
}

// error msg invoice-date in project page
.invoice-date-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #FF5555;
  }
  
  .input-error {
    border-color: #FF5555;
  }

// datepicker
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.times1-clock {
    float: right;
    margin-right: 16px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: #F8F8F2;
}

input[type="date"], input[type="datetime-local"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after, input[type="datetime-local"]:after {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f073"; /* FontAwesome Unicode */
    // font-weight: 900;
    // content: "\25BC"; 
    color: #F8F8F2;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after, input[type="datetime-local"]:hover:after {
    color: #F8F8F2;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button {
    z-index: 1;
}

/* adjust clear button */
input[type="date"]::-webkit-clear-button, input[type="datetime-local"]::-webkit-clear-button {
    z-index: 1;
}

/* tags */
.tags {
    background-color: #585b6f;
    padding: 0.375rem 0.75rem;
}
.chosen-select {
    background-color: #585b6f;
}

.chosen-choices {
    background-color: #585b6f;
}
.chosen-container {
    background-color: #585b6f;
}
.chosen-container-multi {
    background-color: #585b6f;
}
.search-field {
    background-color: #585b6f;
}
.chosen-search-input {
    background-color: #585b6f;
}
.chosen-drop {
    background-color: #585b6f;
}
.chosen-results {
    background-color: #585b6f;
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    // padding: 0 5px;
    padding: 0.375rem 0.75rem;
    width: 100%;
    height: auto;
    border: 1px solid #282a36;
    background-color: #585b6f;
    background-image: linear-gradient(#585b6f 1%, #585b6f 15%);
    cursor: text;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #fff !important;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #fff;
    cursor: pointer;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #282a36;
    border-top: 0;
    background: #585b6f;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    // box-shadow: 0 0.5rem 1.75rem 0 rgba(153, 147, 249, 0.12) !important;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100% 100%);
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #282a36;
    max-width: 100%;
    border-radius: 3px;
    background-color: #9993f9;
    // background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #9993f9 inset, 0 1px 0 #9993f9;
    color: #333;
    line-height: 13px;
    cursor: default;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #9993f9;
    background-image: linear-gradient(#9993f9 20%, #9993f9 90%);
    color: #fff;
}

.chosen-container .chosen-results li {
    color: #fff;
}

// .chosen-container-multi .chosen-choices li.search-choice {
//     position: relative;
//     margin: 3px 5px 3px 0;
//     padding: 3px 20px 3px 5px;
//     border: 1px solid #aaa;
//     max-width: 100%;
//     border-radius: 3px;
//     background-color: #9993f9;
//     background-image: linear-gradient(#9993f9 20%, #9993f9 50%, #9993f9 52%, #9993f9 100%);
//     background-size: 100% 19px;
//     background-repeat: repeat-x;
//     background-clip: padding-box;
//     box-shadow: 0 0 2px #9993f9 inset, 0 1px 0 #9993f9;
//     color: #333;
//     line-height: 13px;
//     cursor: default;
// }
