<!-- Begin Page Content -->
<div class="container-fluid">
 
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Configurações</h1>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to "Dashboard", app_dashboard_path %></li>
                    <li class="breadcrumb-item active" aria-current="page">Configurações</li>
                </ol>
            </nav>
	    </div>
	</div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card shadow mb-12">
                <div class="card-header py-12">
                    <h6 class="m-0 font-weight-bold text-primary">Configurações</h6>
                </div>
                <div class="card-body">
                    <div class="col-lg-12 col-xs-12">
                        <%= form_for([:app, @setting]) do |f| %>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-xs-12">
                                <label>Temas</label>
                                <%= f.select(:theme, @themes_options_for_select, {}, {:class =>"form-control", :tabindex => "-1", include_blank: false}) %>
                            </div>
                            <div class="form-group col-lg-12 col-xs-12">
                                <%= f.submit "Cadastrar", class:"btn btn-primary", data: { disable_with: "Aguarde..." } %>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->