@import 'app/sb-admin-2.css';
@import 'app/custom.scss';

@import '@fortawesome/fontawesome-free/css/all.min.css';

// DataTables
@import "datatables.net-bs4/css/dataTables.bootstrap4.css";

// Notify - Toastify-JS
@import "toastify-js/src/toastify.css";

// toastify
.toastify {
    border-radius: 25px; 
}

// Options button
// .options_buttons {
//     margin-right: 2%;
// }

// TIMER dashboard
#time {
    font-size: 50px;
  }
  
  .btns-container {
    margin: 10px 0;
  }
  
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
  button:hover {
    filter: grayscale(0.5);
  }
  button:focus {
    outline: none;
  }
  
//   #start_btn {
//     background: green;
//   }
//   #pause_btn {
//     background: blue;
//     display: none;
//   }
//   #reset_btn {
//     background: red;
//     display: none;
//   }

// input work_hour - Dashboard > cronometer > modal
.times1-clock {
  float: right;
  margin-right: 16px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
  color: #000;
}

// hidden class
.hidden{
  display:none;
  transition: .35s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.card-tasks-dashboard {
  min-height: 100%;
}

// PDF generator
@media print {
  /* Hide everything in the body when printing... */
  body { visibility: hidden; }
  /* ...except our special div. */
  #section-to-print, #section-to-print * {
    visibility: visible
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

// error msg invoice-date in project page
.invoice-date-error {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e74a3b;
}

.input-error {
  border-color: #dc3545;
}

// task_schedule page - time_field
.time_field {
  // user-select: none;
  // -moz-user-select: none;
  // -khtml-user-select: none;
  // -webkit-user-select: none;
  // -o-user-select: none;
  background-color: #eaecf4;
  opacity: 1;
  pointer-events:none;
}